.btn {
    background-color: transparent;
    border: 0;
    color: $color-white;
    font-size: $font-body;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;


    &-send {
        border: 1px solid $color-white;
        padding: $ruler/1.5 $ruler;
        box-sizing: border-box;
        box-shadow: $box-shadow-sm;
        transition: $transition;

        &:hover, &:active {
            box-shadow: $box-shadow-lg;
        }
    }

    &-filled {
        background-color: $color-red;
    }

    &-skinny {
        border: none;
        background-color: transparent;
    }

    &-lg {
        font-size: $font-body-lg;
        padding: $ruler;
    }

    &-social {
        display: block;
        padding: $ruler*2;
        padding-top: $ruler*4;
        border: 1px solid $color-white;
        border-left: none;
        font-size: $font-body-lg;
        transition: $transition;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: 90% 25%;

        &:hover {
            color: $color-red;
            background-color: $color-white;
            background-image: url('../img/arrow_dark.svg');
            background-position: 100% 0%;

        }
    }

    &-disabled {
        opacity: 0.6;
        cursor:not-allowed;
        &:hover {
            box-shadow: $box-shadow-sm;
        }
    }
}

.social-buttons {
    //box-shadow:  $box-shadow-sm;

    .btn {
        box-shadow:  $box-shadow-sm;
    }
    
    .btn:first-child {
        border-left: 1px solid $color-white;
    }
}


.legend-rotate {
    animation: rotate 3s infinite linear;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}