.img {
    &-banner {
        width: 100%;
        @media only screen and (min-width: $viewport) {
            width: 130%;
        }
        display: block;
        position: relative;
        float: right;
        z-index: -10;
        box-shadow:  $ruler/1.5 $ruler/1.5 0 rgba($color: $color-white, $alpha: 0.2);
    }
}

.card {
    @media only screen and (min-width: $viewport) {
        padding: $ruler*2;
        padding-left: 0;
        margin-right: $ruler*2;
    }
    display: block;

    &-img {
        width: 100%;
        @media only screen and (min-width: $viewport) {
            width: 120%;
            margin-top: -$ruler*2;
            transition: $transition;
        }

        &-wrapper {
            margin: 0;
            min-height: 150px;
            display: block;
        }
    }


    &-content {
        background-color: rgba($color: $color-white, $alpha: 0.2);
        @media only screen and (min-width: $viewport) {
            padding: 0 $ruler/2 $ruler $ruler*1.5;
        }
        transition: $transition;
    }

    &-name {
        font-size: $font-body-lg;
        font-weight: 600;
        @media only screen and (min-width: $viewport) {
            padding: $ruler 0 $ruler/2 0;
        }

        @media only screen and (max-width: $viewport) {
            padding: $ruler*1.5;
        }
    }

    &-arrow {
        float: right;
        @media only screen and (min-width: $viewport) {
            margin-right: -$ruler*2;
            margin-top: $ruler;
        }


        @media only screen and (max-width: $viewport) {
            margin-top: $ruler;
            margin-left: -$ruler;
        }

        transition: $transition;
    }


    &:hover {

        .card-arrow {
            transform: translate($ruler, -$ruler/2);
        }

        .card-img {
            box-shadow: $box-shadow-lg;
            transform: scale(1.025);
        }
    }
}


.dialog {
    background-color: $color-white;
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color:$color-black;
    padding: $ruler*2 0;
}