@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap');

body, input, textarea, select, button {
    font-family: 'Jura', sans-serif;
    font-size: $font-body;
}

a {
    color: $color-white;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    line-height: 120%;
}

.title {
    &-1 {
        font-size: $font-title-1;
    }
    &-2 {
        font-size: $font-title-2;
    }
    &-3 {
        font-size: $font-title-3;
    }
    &-4 {
        font-size: $font-body-lg;
    }
    
}

.text {
    &-uppercase {
        text-transform: uppercase;
    }
    &-lowercase {
        text-transform: lowercase;
    }
    &-error {
        color:$color-red;
    }
    &-center {
        text-align: center;
    }
    &-external {
        background-image: url('../img/arrow.svg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto 80%;
        padding-right: 2rem;

        &:hover {
            border-bottom: 2px solid $color-white;
        }
    }
}

.dim {
    opacity: 0.7;
    font-size: 0.5rem;
}