$font-title-1 : 5rem;
$font-title-2 : 3rem;
$font-title-3 : 2rem;
$font-body: 1rem;
$font-body-lg: 1.5rem;
$font-body-sm: 0.8rem;

$color-red: #E61937;
$color-black: #222;
$color-white: #FFF;
$color-gray: #444;

$ruler: 16px;

$transition: all 0.2s ease-in-out;
$box-shadow-sm: $ruler/4 $ruler/4 0 $color-white;
$box-shadow-lg: $ruler/2 $ruler/2 0 $color-white; 

$viewport: 768px;