@import "_value";

body, html {
    color:$color-white;
}

body {
    background-color: $color-red;
}

body, html, p, ul, form, figure, label {
    margin: 0;
    padding: 0;
}

.z-100 {
    z-index: 1000;
}


@import "_font";
@import "_form";
@import "_nav";
@import "_btn";
@import "_content";